.recipe-form {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.recipe-form-input {
    grid-column-start: 2;
    width: 10vw;
}

.close-window-button {
  border-radius: 25px;
  border: 1px solid black;
}
