.recipe-form {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 10fr 1fr;
  height: 100%;
}

.recipe-form-input-container, .popup-title {
  grid-column-start: 2;
  width: 100%;
}

.popup-title {
  text-align: center;
}

.recipe-form-input {
  width: 100%;
}

.close-window-button {
  border: 0;
  background-color: white;
  position: absolute;
  right: 0;
  margin: 7px;
}

.submit-button {
  height: 10%;
  position: absolute;
  bottom: 0;
  border: 0;
  border-top: 1px solid black;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.description-textarea {
  resize: none;
}
