{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='styles/styles.less') }}" />
<script src="{{ url_for('static', filename='script.js') }}" defer></script>
{% endblock %}

{% block title %}
Recipe Manager
{% endblock %}

{% block content %}
<h1 class="page-title">Recipe Manager</h1>

{% if tags %}
<div class="tag-filter-grid">
  <select class="tag-filter" onchange="filter(event)">
    <option value="0">No Filter</option>
    {% for tag in tags %}
    <option value="{{tag.tag_id}}">{{tag.name}}</option>
    {% endfor %}
  </select>
</div>
{% endif %}

<div class="recipes" id="recipe-container">
  {% for rtm in recipe_tag_maps %}
  <div class="recipe" onclick="toggleRecipe('{{rtm.recipe.recipe_id}}')">
    <div class="recipe-name-tag-container">
      <h4 class="recipe-name">{{rtm.recipe.name}}</h4>
      {% if rtm.tags %}
      <div class="tags">
        {% for tag in rtm.tags %}
        <p class="tag tag-{{tag.tag_id}}" id="recipe-{{rtm.recipe.recipe_id}}-tag-{{tag.tag_id}}">
          {{tag.name}}
        </p>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <p class="recipe-short-description">{{rtm.recipe.short_description}}</p>
  </div>
  {% endfor %}
  <div class="new-recipe-container">
    <button class="new-recipe-button" onclick="toggleNewRecipe()">New Recipe</button>
  </div>
</div>

<div class="popups" id="recipe-popup-container">
  {% for rtm in recipe_tag_maps %}
  <div class="popup recipe-popup" id="recipe-popup-{{rtm.recipe.recipe_id}}">
    <div class="popup-top-row">
      <h2 class="popup-title">{{rtm.recipe.name}}</h2>
      <button class="popup-close-button" onclick="toggleRecipe('{{rtm.recipe.recipe_id}}')">X</button>
    </div>
    <div class="popup-center-row">
      <p class="popup-recipe-description">{{rtm.recipe.long_description}}</p>
      <div class="popup-tag-list">
        {% if rtm.tags %}
        {% for tag in rtm.tags %}
        <p class="popup-tag">{{tag.name}}</p>
        {% endfor %}
        {% endif %}
        <button class="delete-recipe-button popup-tag" onclick="deleteRecipe('{{rtm.recipe.recipe_id}}')">
          Delete Recipe
        </button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% include './components/popups/create-recipe.html' %}
{% endblock %}