{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='styles/styles.less') }}" />
<script src="{{ url_for('static', filename='script.js') }}" defer></script>
{% endblock %}

{% block title %}
Recipe Manager
{% endblock %}

{% block content %}
<h1 class="page-title">Recipe Manager</h1>

{% if tags %}
<div class="tag-filter-grid">
  <select class="tag-filter" onchange="filter(event)">
    <option value="0">No Filter</option>
    {% for tag in tags %}
    <option value="{{tag.tag_id}}">{{tag.name}}</option>
    {% endfor %}
  </select>
</div>
{% endif %}

{% include './components/recipe-container.html' %}
{% include './components/popups/recipe.html' %}
{% include './components/popups/create-recipe.html' %}
{% endblock %}